## Core latex/pdflatex auxiliary files:
dissertation/*

## ignore the ide files
.vscode/
.idea

## ignore built files & folders
.coverage
htmlcov/
cover/
venv/
*.egg-info/
.eggs/
build/
docs/api/
dist/
__pycache__/
docs/_build/
docs/*.rst

## ignore cache files
*.pyc
test.py

## ignore test folders
tests/here
here