## Core latex/pdflatex auxiliary files:
dissertation/*.aux
dissertation/*.lof
dissertation/*.log
dissertation/*.lot
dissertation/*.fls
dissertation/*.out
dissertation/*.toc
dissertation/*.fmt
dissertation/*.fot
dissertation/*.cb
dissertation/*.cb2
dissertation/.*.lb

## ignore the ide files
.vscode/

## ignore built files & folders
.coverage
htmlcov/
venv/
*.egg-info/
build/
dist/
__pycache__/
docs/_build/
docs/*.rst

## ignore cache files
*.pyc
