## ignore the ide files
.vscode/
.idea

## ignore built files & folders
.coverage
*.log
htmlcov/
cover/
venv/
*.egg-info/
.eggs/
build/
docs/api/
dist/
__pycache__/
docs/_build/
docs/*.rst

## ignore cache files
*.pyc
*.git/

## ignore test folders
tests/here
here
demo/
tests/test_init_runtime

sciit/web/static/bootstrap*
sciit/web/static/fontawesome*
sciit/web/static/jquery*
.web_resource_cache
