{% extends 'base.html' %} {% block main %}

<div class="container" id="main">
    <br>
    <h1>SCIIT - Configuring Gitlab Integration</h1>
    <br>
    {% if data['result'] == 'success' %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
            <p>The integration service was successfully configured.</p>
        <hr>
    </div>
    {% endif %}
    {% if data['result'] == 'failure' %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Warning</h4>
        <p>There was a problem configuring the integration service.  Please check your configuration.</p>
        <hr>
        <p>{{ data['message'] }}</p>
    </div>
    {% endif %}

    <h2>Instructions</h2>

    <ol>
        <li>Sciit integration works better for projects that are within groups, so move your project if possible to a
        group namespace.  See the Gitlab documentation on <a href="https://docs.gitlab.com/ee/user/group/">groups</a>.
        </li>
        <li>Create a new user account for Sciit and add it as an owner for your group.</li>
        <li>Configure a <a href="https://docs.gitlab.com/ee/user/project/integrations/webhooks.html">personal access
            token</a> to the Gitlab API for the Sciit user account, making a note of the token.  The token needs read
            and write permissions for both the API and the repository.</li>
        <li>Register the project with Sciit below.</li>
        <li>Sciit will generate a key pair for managing interactions with the repository.  The public key will be
            published when you register.  Add this to the Sciit Gitlab user account.</li>

    </ol>
    <div>
        <form action="{{ url_for('configure') }}" method="post">
          <div class="form-group">
            <label for="gitlab-project-url">Gitlab project URL</label>

              <input
                    type="text"
                    class="form-control"
                    id="gitlab-project-url"
                    name="gitlab-project-url"
                    aria-describedby="gitlabProjectUrlHelp"
                    {% if data['gitlab-project-url'] == '' %} placeholder="For example, https://gitlab.com/group/project" {% else %} value='{{ data["gitlab-project-url"] }}' {% endif %}
                    >

            <small id="gitlabProjectUrlHelp" class="form-text text-muted">
                The URL to the project hosted on a Gitlab instance.
            </small>
          </div>

          <div class="form-group">
            <label for="gitlab-username">Sciit Gitlab account username</label>
            <input
                    type="text"
                    class="form-control"
                    id="gitlab-username"
                    name="gitlab-username"
                    aria-describedby="gitlabUsernameHelp"
                    {% if data['gitlab-username'] == '' %} placeholder="For example, project-name-sciit" {% else %} value='{{ data["gitlab-username"] }}' {% endif %}
                    >
            <small id="gitlabUsernameHelp" class="form-text text-muted">
                The username of the account on Gitlab that Sciit will use to make changes to issues.
            </small>
          </div>

          <div class="form-group">
            <label for="gitlab-api-token">Gitlab personal access token</label>
            <input
                    type="text"
                    class="form-control"
                    id="gitlab-api-token"
                    name="gitlab-api-token"
                    aria-describedby="gitlabApiTokenHelp"
                    placeholder="">
            <small id="gitlabApiTokenHelp" class="form-text text-muted">
                Generated by Gitlab for the sciit Gitlab user account.  See the Gitlab documentation on
                <a href="https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html">personal access tokens</a>
            </small>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br/>

    </div>
</div>

{% endblock %}